@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{font-family: 'NEXON Lv2 Gothic';padding: 0;margin: 0;box-sizing: border-box;text-decoration: none;list-style: none;}
.bar{
  display: block;
  margin: 0 auto;
  background: #222222;
  width:1px;
  height: 50px;
}
.location{
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0 165px;
  text-align: right;
  font-size: 15px;
  img{
    margin-right: 10px;
  }
  p{
    color:#ffffff
  }
}
.btn-move-left{
  transition: .3s;
  &:hover{
    transform: translateX(-5px);      
  }    
}
.btn-move-right{
  transition: .3s;
  &:hover{
    transform: translateX(5px);      
  }   
}

#main{ //메인 index
  margin: 70px auto 0;
}