.sub-page.nexon-games{
  #main.nexon-games{
    width: 100%;
    max-width: 1640px;
    h2{
      text-align: center;
      font-size: 66px;
      color:#191b1d;
      padding-bottom: 85px;
    }
      .main-banner{
        background-image: url(../img/nexongames/nexongames/main-banner.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1640px;
        padding-bottom: 205px;
        .main-title{
          h2{
            text-align: center;
            font-size: 66px;
            color:#ffffff;
          }
        }
        .sub-title{
          p{
            font-size: 32px;
            text-align: center;
            padding-top: 25px;
            color:#ffffff;
            line-height: 43px;
          }
        }
      }
      .info-text{
        padding: 100px 0 55px;
          margin: 70px auto 0;
        
        p{
          text-align: center;
          font-size: 28px;
          line-height: 40px;
        }
        .bar{
          margin: 70px auto 0;
        }
      }
      #section1{
        .content{
          background-image: url(../img/nexongames/nexongames/section1-img1.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          padding: 230px 0;
          .main-title{
            max-width: 1280px;
            margin: 0 auto;
            position: relative;
            width: 90%;
            .line{
              position: absolute;
              height: 1px;
              width: 25%;
              background: rgba(255,255,255, .5);
              top:50%;
              transform: translateY(-50%);
              &:nth-child(1){
                right: 0;
              }
            }            
            h3{
              text-align: center;
              color:#ffffff;
              margin: 0 auto;
              font-size: 55px;
              width: 50%;
            }
          }
          .sub-title{
            p{
              font-size: 28px;
              text-align: center;
              padding-top: 30px;
              color:#ffffff;
              line-height: 43px;
            }
          }
        }
      }
      #section2{
        .inner{
          padding-top:150px;
          h2{
            padding-bottom: 50px;
          }
        }
      }
  }
}