.sub-page{
  #main.nexon-games{
    width: 100%;
    max-width: 1640px;
    h2{
      text-align: center;
      font-size: 66px;
      color:#191b1d;
      padding-bottom: 85px;
    }
    .main-banner{
      background-image: url(../img/sub-page/nexongames/nexongames/main-banner.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      max-width: 1640px;
      padding-bottom: 205px;
      .main-title{
        h2{
          text-align: center;
          font-size: 66px;
          color:#ffffff;
        }
      }
      .sub-title{
        p{
          font-size: 32px;
          text-align: center;
          padding-top: 25px;
          color:#ffffff;
          line-height: 43px;
        }
      }
    }
    .info-text{
      padding: 100px 0 55px;
        margin: 70px auto 0;
      
      p{
        text-align: center;
        font-size: 28px;
        line-height: 40px;
      }
      .bar{
        margin: 70px auto 0;
      }
    }
    #section1{
      .content{
        background-image: url(../img/sub-page/nexongames/nexongames/section1-img1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 230px 0;
        .main-title{
          max-width: 1280px;
          margin: 0 auto;
          position: relative;
          width: 90%;
          .line{
            position: absolute;
            height: 1px;
            width: 25%;
            background: rgba(255,255,255, .5);
            top:50%;
            transform: translateY(-50%);
            &:nth-child(1){
              right: 0;
            }
          }            
          h3{
            text-align: center;
            color:#ffffff;
            margin: 0 auto;
            font-size: 55px;
            width: 50%;
          }
        }
        .sub-title{
          p{
            font-size: 28px;
            text-align: center;
            padding-top: 30px;
            color:#ffffff;
            line-height: 43px;
          }
        }
      }
    }
    #section2{
      .inner{
        padding-top:150px;
        h2{
          padding-bottom: 50px;
        }
        .content{
          max-width: 1280px;
          margin: 0 auto;
          width: 90%;
          .items{
            background-repeat: no-repeat;
            background-position:center 100%;
            & + .items{
              margin-top: -30px;
            }
            &:nth-child(1){
              background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img1.png);
            }  
            &:nth-child(2){
              background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img2.png);
            }  
            &:nth-child(3){
              background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img3.png);
            }  
            &:nth-child(4){
              background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img4.png);
            }  
            &:nth-child(5){
              background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img5.png);
            }  
            .wrap{
              display: flex;
              &.right{
                flex-direction: row-reverse;
                .text-box{
                  text-align: right;
                  padding: 50px 25px 50px 0;
                }
              }
              .img{
                flex: 30%;
              }
              .text-box{
                flex: 70%;
                padding: 50px 0 50px 25px;
                .game-name{
                  margin-bottom: 30px;
                  h3{
                    display: inline-block;
                    background: linear-gradient(180deg,rgba(255,255,255,0) 55%, #e8e8e8 50%);
                    font-size: 50px;
                    padding: 0 10px;
                  }
                }
                p{
                  font-size: 24px;
                  color:#666666;
                  padding-bottom: 15px;
                  line-height: 33px;
                  strong{
                    color:#191b1d;
                  }
                }
              }
            }       
          }            
        }
      }
    }
    #section3{
      .inner{
        h2{
          padding-bottom: 30px;
        }
        padding: 245px 0 50px;
        .content{
          ul{
            display: flex;
            justify-content: center;
            li{
              &:first-child{
                margin-right: 20px;
              }
              a{
                img{
                  padding-right: 10px;
                }
                font-size: 20px;
                font-weight: bold;
                color:#222222;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}