@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "NEXON Lv2 Gothic";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#main .inner {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
#main img {
  max-width: 100%;
}
#main .btn-move-left {
  transition: 0.3s;
}
#main .btn-move-left:hover {
  transform: translateX(-5px);
}
#main .btn-move-right {
  transition: 0.3s;
}
#main .btn-move-right:hover {
  transform: translateX(5px);
}