@charset "UTF-8";
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#header.dark .header-inner {
  background-color: #191b1d;
}
#header.dark .header-inner .gnb-wrap .gnb a {
  color: #ffffff;
}
#header .header-inner {
  position: relative;
  background: #ffffff;
}
#header .header-inner .header-main-logo {
  position: absolute;
  left: 70px;
  top: 12px;
}
#header .header-inner .header-language-select {
  background: #222222;
  border-radius: 30px;
  padding: 8px 12px;
  position: absolute;
  right: 65px;
  top: 20px;
  font-size: 11px;
}
#header .header-inner .header-language-select a {
  color: #ffffff;
  opacity: 0.3;
}
#header .header-inner .header-language-select a:first-child {
  position: relative;
  margin-right: 20px;
}
#header .header-inner .header-language-select a::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  right: -10px;
  top: 0;
}
#header .header-inner .gnb-wrap {
  max-width: 1280px;
  margin: 0 auto;
}
#header .header-inner .gnb-wrap .gnb {
  display: flex;
  justify-content: center;
}
#header .header-inner .gnb-wrap .gnb li {
  line-height: 70px;
}
#header .header-inner .gnb-wrap .gnb li + li {
  margin-left: 75px;
}
#header .header-inner .gnb-wrap .gnb li a {
  font-size: 21px;
  font-weight: bold;
  color: #222222;
  display: block;
}
#header .header-inner .gnb-down-menu {
  overflow: hidden;
  width: 100%;
  height: 0;
  position: absolute;
  top: 70px;
  background: #f8f8f8;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul li a {
  font-size: 15px;
  color: #666666;
  display: inline-block;
  line-height: 35px;
  width: 100%;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul:nth-child(1) {
  margin-right: 85px;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul:nth-child(2) {
  margin-right: 30px;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul:nth-child(3) {
  margin-right: 90px;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul:nth-child(4) {
  margin-right: 60px;
}
#header .header-inner .mobile-menu-btn {
  display: none;
}
#header .header-inner .mobile-menu-btn a {
  color: #222222;
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#header .header-inner .mobile-gnb {
  height: 100vh;
  width: 75%;
  padding-top: 50px;
  position: fixed;
  display: block;
  right: -75%;
  top: 0;
  background-color: #fff;
  transition: all 0.3s;
  z-index: 999;
}
#header .header-inner .mobile-gnb.on {
  right: 0;
}
#header .header-inner .mobile-gnb .header-language-select {
  right: 80px;
  top: 10px;
}
#header .header-inner .mobile-gnb .close-btn {
  background-color: #fff;
  width: 50px;
  height: 50px;
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  color: #999;
  line-height: 50px;
  text-align: center;
}
#header .header-inner .mobile-gnb .gnb .gnb-menu > li {
  border-top: 1px solid #eeeeee;
}
#header .header-inner .mobile-gnb .gnb .gnb-menu > li a {
  display: block;
  text-align: left;
  line-height: 50px;
  width: 100%;
  height: 50px;
  color: #3c6189;
  font-size: 16px;
  padding: 0 15px;
  font-weight: 600;
}
#header .header-inner .mobile-gnb .gnb .gnb-menu > li ul {
  display: none;
}
#header .header-inner .mobile-gnb .gnb .gnb-menu > li:last-child {
  border-bottom: 1px solid #eeeeee;
}

#footer {
  background-color: #f3f3f3;
}
#footer .footer-container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
#footer .footer-inner .footer-top {
  padding: 50px 0;
}
#footer .footer-inner .footer-top .footer-container .row {
  display: flex;
}
#footer .footer-inner .footer-top .footer-container .row a {
  display: block;
}
#footer .footer-inner .footer-top .footer-container .row .col {
  width: 50%;
}
#footer .footer-inner .footer-top .footer-container .row .col.left .footer-logo {
  margin-bottom: 30px;
}
#footer .footer-inner .footer-top .footer-container .row .col.left .footer-info {
  color: #999999;
  font-size: 13px;
}
#footer .footer-inner .footer-top .footer-container .row .col.left .footer-info .info-txt {
  margin-bottom: 15px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right {
  padding-left: 15px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu {
  display: flex;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li:nth-child(1) {
  margin-right: 45px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li:nth-child(2) {
  margin-right: 65px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li:nth-child(3) {
  margin-right: 65px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li:nth-child(4) {
  margin-right: 55px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu li a {
  font-size: 14px;
  color: #999999;
  margin-bottom: 10px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li > a {
  font-size: 15px;
  color: #222222;
  margin-bottom: 20px;
}
#footer .footer-inner .footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #ddd;
  padding: 30px 0;
  position: relative;
}
#footer .footer-inner .footer-bottom .footer-container .copyright p {
  font-size: 14px;
  color: #999999;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site {
  position: absolute;
  right: 0;
  bottom: -17px;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site:hover .dropup-content {
  display: block;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .drop-btn {
  padding: 15px 0;
  color: #999999;
  font-size: 14px;
  position: relative;
  width: 220px;
  cursor: pointer;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .drop-btn::after {
  content: "▲";
  font-size: 9px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .dropup-content {
  display: none;
  position: absolute;
  bottom: 46px;
  background-color: #f1f1f1;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .dropup-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  font-size: 12px;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .dropup-content a:hover {
  background-color: #f9f9f9;
}

@media all and (max-width: 1440px) {
  #header .header-inner {
    height: 100px;
  }
  #header .header-inner .header-main-logo {
    left: 20px;
    top: 25px;
  }
  #header .header-inner .gnb-wrap {
    display: none;
  }
  #header .header-inner .header-language-select {
    top: 35px;
    right: 80px;
  }
  #header .header-inner .mobile-menu-btn {
    display: block;
  }
}
@media all and (max-width: 480px) {
  #header .header-inner {
    height: 70px;
  }
  #header .header-inner .header-main-logo {
    left: 12px;
    top: 12px;
  }
  #header .header-inner .header-language-select {
    display: none;
  }
}