#main .game-trailer {
  margin-top: 70px;
}
#main .game-trailer .inner {
  height: 35vw;
  overflow: hidden;
}
#main .game-trailer .inner .swiper-slide video {
  width: 100%;
}
#main .game-trailer .inner .swiper-pagination-progressbar {
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 0.5px;
  top: 90%;
  background: #ffffff;
}
#main .game-trailer .inner .swiper-pagination-progressbar span {
  top: -2px;
  height: 3px;
  background: #ffffff;
}
#main .game-trailer .inner .swiper-button-next {
  right: 5%;
  top: 80%;
}
#main .game-trailer .inner .swiper-button-next:after {
  content: "";
}

@media all and (max-width: 1440px) {
  #main .game-trailer {
    margin-top: 100px;
  }
}
@media all and (max-width: 480px) {
  #main .game-trailer {
    margin-top: 70px;
  }
}