@charset "UTF-8";
@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "NEXON Lv2 Gothic";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.bar {
  display: block;
  margin: 0 auto;
  background: #222222;
  width: 1px;
  height: 50px;
}

.location {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0 165px;
  text-align: right;
  font-size: 15px;
}
.location img {
  margin-right: 10px;
}
.location p {
  color: #ffffff;
}

.btn-move-left {
  transition: 0.3s;
}
.btn-move-left:hover {
  transform: translateX(-5px);
}

.btn-move-right {
  transition: 0.3s;
}
.btn-move-right:hover {
  transform: translateX(5px);
}

img {
  max-width: 100%;
}

#main {
  margin: 70px auto 0;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#header .header-inner {
  position: relative;
  background: #ffffff;
}
#header .header-inner .header-main-logo {
  position: absolute;
  left: 70px;
  top: 12px;
}
#header .header-inner .header-language-select {
  background: #222222;
  border-radius: 30px;
  padding: 8px 12px;
  position: absolute;
  right: 65px;
  top: 20px;
  font-size: 11px;
}
#header .header-inner .header-language-select a {
  color: #ffffff;
  opacity: 0.3;
}
#header .header-inner .header-language-select a:first-child {
  position: relative;
  margin-right: 20px;
}
#header .header-inner .header-language-select a::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  right: -10px;
  top: 0;
}
#header .header-inner .gnb-wrap {
  max-width: 1280px;
  margin: 0 auto;
}
#header .header-inner .gnb-wrap .gnb {
  display: flex;
  justify-content: center;
}
#header .header-inner .gnb-wrap .gnb li {
  line-height: 70px;
}
#header .header-inner .gnb-wrap .gnb li + li {
  margin-left: 75px;
}
#header .header-inner .gnb-wrap .gnb li a {
  font-size: 21px;
  font-weight: bold;
  color: #222222;
  display: block;
}
#header .header-inner .gnb-down-menu {
  overflow: hidden;
  width: 100%;
  height: 0;
  position: absolute;
  top: 70px;
  background: #f8f8f8;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul li a {
  font-size: 15px;
  color: #666666;
  display: inline-block;
  line-height: 35px;
  width: 100%;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul:nth-child(1) {
  margin-right: 85px;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul:nth-child(2) {
  margin-right: 30px;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul:nth-child(3) {
  margin-right: 90px;
}
#header .header-inner .gnb-down-menu .gnb-down-menu-inner ul:nth-child(4) {
  margin-right: 60px;
}
#header .header-inner .mobile-menu-btn {
  display: none;
}
#header .header-inner .mobile-menu-btn a {
  color: #222222;
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#header .header-inner .mobile-gnb {
  height: 100vh;
  width: 75%;
  padding-top: 50px;
  position: fixed;
  display: block;
  right: -75%;
  top: 0;
  background-color: #fff;
  transition: all 0.3s;
  z-index: 999;
}
#header .header-inner .mobile-gnb.on {
  right: 0;
}
#header .header-inner .mobile-gnb .header-language-select {
  right: 80px;
  top: 10px;
}
#header .header-inner .mobile-gnb .close-btn {
  background-color: #fff;
  width: 50px;
  height: 50px;
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  color: #999;
  line-height: 50px;
  text-align: center;
}
#header .header-inner .mobile-gnb .gnb .gnb-menu > li {
  border-top: 1px solid #eeeeee;
}
#header .header-inner .mobile-gnb .gnb .gnb-menu > li a {
  display: block;
  text-align: left;
  line-height: 50px;
  width: 100%;
  height: 50px;
  color: #3c6189;
  font-size: 16px;
  padding: 0 15px;
  font-weight: 600;
}
#header .header-inner .mobile-gnb .gnb .gnb-menu > li ul {
  display: none;
}
#header .header-inner .mobile-gnb .gnb .gnb-menu > li:last-child {
  border-bottom: 1px solid #eeeeee;
}

#footer {
  background-color: #f3f3f3;
}
#footer .footer-container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
#footer .footer-inner .footer-top {
  padding: 50px 0;
}
#footer .footer-inner .footer-top .footer-container .row {
  display: flex;
}
#footer .footer-inner .footer-top .footer-container .row a {
  display: block;
}
#footer .footer-inner .footer-top .footer-container .row .col {
  width: 50%;
}
#footer .footer-inner .footer-top .footer-container .row .col.left .footer-logo {
  margin-bottom: 30px;
}
#footer .footer-inner .footer-top .footer-container .row .col.left .footer-info {
  color: #999999;
  font-size: 13px;
}
#footer .footer-inner .footer-top .footer-container .row .col.left .footer-info .info-txt {
  margin-bottom: 15px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right {
  padding-left: 15px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu {
  display: flex;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li:nth-child(1) {
  margin-right: 45px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li:nth-child(2) {
  margin-right: 65px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li:nth-child(3) {
  margin-right: 65px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li:nth-child(4) {
  margin-right: 55px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu li a {
  font-size: 14px;
  color: #999999;
  margin-bottom: 10px;
}
#footer .footer-inner .footer-top .footer-container .row .col.right .footer-menu > li > a {
  font-size: 15px;
  color: #222222;
  margin-bottom: 20px;
}
#footer .footer-inner .footer-bottom {
  padding: 30px 0;
  border-top: 1px solid #ddd;
  padding: 30px 0;
  position: relative;
}
#footer .footer-inner .footer-bottom .footer-container .copyright p {
  font-size: 14px;
  color: #999999;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site {
  position: absolute;
  right: 0;
  bottom: -17px;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site:hover .dropup-content {
  display: block;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .drop-btn {
  padding: 15px 0;
  color: #999999;
  font-size: 14px;
  position: relative;
  width: 220px;
  cursor: pointer;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .drop-btn::after {
  content: "▲";
  font-size: 9px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .dropup-content {
  display: none;
  position: absolute;
  bottom: 46px;
  background-color: #f1f1f1;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .dropup-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  font-size: 12px;
}
#footer .footer-inner .footer-bottom .footer-container .footer-family-site .dropup-content a:hover {
  background-color: #f9f9f9;
}

@media all and (max-width: 1440px) {
  #header .header-inner {
    height: 100px;
  }
  #header .header-inner .header-main-logo {
    left: 20px;
    top: 25px;
  }
  #header .header-inner .gnb-wrap {
    display: none;
  }
  #header .header-inner .header-language-select {
    top: 35px;
    right: 80px;
  }
  #header .header-inner .mobile-menu-btn {
    display: block;
  }
}
@media all and (max-width: 480px) {
  #header .header-inner {
    height: 70px;
  }
  #header .header-inner .header-main-logo {
    left: 12px;
    top: 12px;
  }
  #header .header-inner .header-language-select {
    display: none;
  }
}
#main.main .inner {
  width: 95%;
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
}
#main.main .game-trailer {
  margin-top: 70px;
}
#main.main .game-trailer .main-video-swiper {
  position: relative;
  height: 35vw;
  overflow: hidden;
}
#main.main .game-trailer .main-video-swiper .swiper-slide video {
  width: 100%;
}
#main.main .game-trailer .main-video-swiper .swiper-pagination-progressbar {
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 0.5px;
  top: 90%;
  background: #ffffff;
}
#main.main .game-trailer .main-video-swiper .swiper-pagination-progressbar span {
  top: -2px;
  height: 3px;
  background: #ffffff;
}
#main.main .game-trailer .main-video-swiper .swiper-pagination-fraction {
  z-index: 10;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  right: 7%;
  left: 93%;
  bottom: 5%;
  font-size: 13px;
}
#main.main .game-trailer .main-video-swiper .swiper-pagination-fraction .swiper-pagination-current {
  color: #ffffff;
}
#main.main .game-trailer .main-video-swiper .swiper-button-next {
  right: 5%;
  top: 80%;
}
#main.main .game-trailer .main-video-swiper .swiper-button-next:after {
  content: "";
}
#main.main #section1 .inner {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding: 150px 0;
  color: #222222;
}
#main.main #section1 .inner .main-title {
  text-align: center;
}
#main.main #section1 .inner .main-title h4 {
  font-weight: lighter;
  padding-bottom: 15px;
  font-size: 66px;
}
#main.main #section1 .inner .main-title h2 {
  padding-bottom: 50px;
  font-size: 66px;
}
#main.main #section1 .inner .content .items {
  display: flex;
}
#main.main #section1 .inner .content .items .left {
  padding-top: 280px;
  width: 42%;
}
#main.main #section1 .inner .content .items .left p {
  color: #222222;
  font-size: 30px;
  padding-bottom: 55px;
}
#main.main #section1 .inner .content .items .right {
  width: 58%;
}
#main.main #section1 .inner .content .items .right img {
  max-width: 100%;
}
#main.main #section2 {
  background-image: url(../img/main/section2-bg-img1.jpg);
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}
#main.main #section2 .inner {
  padding-top: 250px;
  padding-bottom: 380px;
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
#main.main #section2 .inner .main-title h2 {
  font-size: 66px;
  color: #222222;
}
#main.main #section2 .inner .main-title .content .section2-swiper {
  padding-bottom: 15px;
}
#main.main #section2 .inner .main-title .content .section2-swiper .swiper-slide {
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 20px;
  display: flex;
}
#main.main #section2 .inner .main-title .content .section2-swiper .swiper-slide .left {
  width: 23%;
  margin-right: 100px;
}
#main.main #section2 .inner .main-title .content .section2-swiper .swiper-slide .left img {
  max-width: 100%;
}
#main.main #section2 .inner .main-title .content .section2-swiper .swiper-slide .right {
  width: 55%;
}
#main.main #section2 .inner .main-title .content .section2-swiper .swiper-slide .right .interviewee {
  font-weight: bold;
  display: block;
  font-size: 18px;
  color: #cad401;
  padding-bottom: 25px;
}
#main.main #section2 .inner .main-title .content .section2-swiper .swiper-slide .right .name {
  font-size: 45px;
  color: #222222;
  padding-bottom: 65px;
}
#main.main #section2 .inner .main-title .content .section2-swiper .swiper-slide .right .name .team-name {
  display: inline-block;
  font-size: 18px;
  color: #999999;
}
#main.main #section2 .inner .main-title .content .section2-swiper .swiper-slide .right .title {
  font-size: 33px;
  color: #222222;
  margin-bottom: 20px;
  font-weight: bold;
}
#main.main #section2 .inner .main-title .content .section2-swiper .swiper-slide .right .comment {
  font-size: 18px;
  padding-left: 18px;
  line-height: 28px;
}
#main.main #section2 .inner .main-title .content .section2-swiper .slider-ctrl {
  position: absolute;
  bottom: 0;
  right: 35px;
  width: 130px;
}
#main.main #section2 .inner .main-title .content .section2-swiper .slider-ctrl .swiper-button-next, #main.main #section2 .inner .main-title .content .section2-swiper .slider-ctrl .swiper-button-prev {
  width: auto;
  height: auto;
  font-size: 20px;
  position: relative;
  display: inline-block;
  color: #222222;
  font-weight: bold;
}
#main.main #section2 .inner .main-title .content .section2-swiper .slider-ctrl .swiper-button-next {
  float: right;
}
#main.main #section2 .inner .main-title .content .section2-swiper .slider-ctrl .swiper-button-next::after {
  content: "";
  width: 17px;
  height: 8px;
  right: -70%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-image: url(../img/main/section_next_btn.png);
}
#main.main #section2 .inner .main-title .content .section2-swiper .slider-ctrl .swiper-button-prev {
  float: left;
}
#main.main #section2 .inner .main-title .content .section2-swiper .slider-ctrl .swiper-button-prev::after {
  content: "";
  width: 17px;
  height: 8px;
  left: -70%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-image: url(../img/main/section_prev_btn.png);
}
#main.main #section3 .inner {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 250px;
}
#main.main #section3 .inner h2 {
  font-size: 65px;
  padding-bottom: 80px;
}
#main.main #section3 .content .news-latest ul {
  display: flex;
}
#main.main #section3 .content .news-latest ul li {
  width: 28.125%;
  margin-right: 7.8125%;
}
#main.main #section3 .content .news-latest ul li:last-child {
  margin-right: 0;
}
#main.main #section3 .content .news-latest ul li img {
  max-width: 100%;
}
#main.main #section3 .content .news-latest ul li .cont .list-ca {
  margin-top: 40px;
}
#main.main #section3 .content .news-latest ul li .cont .list-ca .category-tag {
  font-size: 14px;
  font-weight: bold;
  padding-right: 7px;
  color: #222222;
}
#main.main #section3 .content .news-latest ul li .cont .list-ca .custom-date {
  font-size: 14px;
  color: #aeaeae;
  padding-left: 7px;
  position: relative;
}
#main.main #section3 .content .news-latest ul li .cont .title {
  font-size: 24px;
  color: #191b1d;
  padding: 10px 0 20px;
  display: block;
  font-weight: bold;
  min-height: 84px;
}
#main.main #section3 .content .news-latest ul li .cont p {
  font-size: 15px;
  color: #888888;
  line-height: 22px;
}
#main.main #section4 {
  padding-bottom: 125px;
}
#main.main #section4 .inner h2 {
  font-size: 65px;
  padding-bottom: 80px;
}
#main.main #section4 .inner .content {
  margin-bottom: 120px;
}
#main.main #section4 .inner .text-box {
  position: absolute;
  left: 0;
  bottom: -75px;
  background: #ffffff;
  padding-top: 50px;
  padding-right: 65px;
}
#main.main #section4 .inner .text-box p {
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
}

@media all and (max-width: 1440px) {
  #main {
    margin-top: 100px;
  }
}
@media all and (max-width: 480px) {
  #main {
    margin-top: 70px;
  }
}
.sub-page.nexon-games #main.nexon-games {
  width: 100%;
  max-width: 1640px;
}
.sub-page.nexon-games #main.nexon-games h2 {
  text-align: center;
  font-size: 66px;
  color: #191b1d;
  padding-bottom: 85px;
}
.sub-page.nexon-games #main.nexon-games .main-banner {
  background-image: url(../img/sub-page/nexongames/nexongames/main-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1640px;
  padding-bottom: 205px;
}
.sub-page.nexon-games #main.nexon-games .main-banner .main-title h2 {
  text-align: center;
  font-size: 66px;
  color: #ffffff;
}
.sub-page.nexon-games #main.nexon-games .main-banner .sub-title p {
  font-size: 32px;
  text-align: center;
  padding-top: 25px;
  color: #ffffff;
  line-height: 43px;
}
.sub-page.nexon-games #main.nexon-games .info-text {
  padding: 100px 0 55px;
  margin: 70px auto 0;
}
.sub-page.nexon-games #main.nexon-games .info-text p {
  text-align: center;
  font-size: 28px;
  line-height: 40px;
}
.sub-page.nexon-games #main.nexon-games .info-text .bar {
  margin: 70px auto 0;
}
.sub-page.nexon-games #main.nexon-games #section1 .content {
  background-image: url(../img/sub-page/nexongames/nexongames/section1-img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 230px 0;
}
.sub-page.nexon-games #main.nexon-games #section1 .content .main-title {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  width: 90%;
}
.sub-page.nexon-games #main.nexon-games #section1 .content .main-title .line {
  position: absolute;
  height: 1px;
  width: 25%;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
}
.sub-page.nexon-games #main.nexon-games #section1 .content .main-title .line:nth-child(1) {
  right: 0;
}
.sub-page.nexon-games #main.nexon-games #section1 .content .main-title h3 {
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  font-size: 55px;
  width: 50%;
}
.sub-page.nexon-games #main.nexon-games #section1 .content .sub-title p {
  font-size: 28px;
  text-align: center;
  padding-top: 30px;
  color: #ffffff;
  line-height: 43px;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner {
  padding-top: 150px;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner h2 {
  padding-bottom: 50px;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items {
  background-repeat: no-repeat;
  background-position: center 100%;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items + .items {
  margin-top: -30px;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items:nth-child(1) {
  background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img1.png);
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items:nth-child(2) {
  background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img2.png);
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items:nth-child(3) {
  background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img3.png);
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items:nth-child(4) {
  background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img4.png);
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items:nth-child(5) {
  background-image: url(../img/sub-page/nexongames/nexongames/section2-bg-img5.png);
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items .wrap {
  display: flex;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items .wrap.right {
  flex-direction: row-reverse;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items .wrap.right .text-box {
  text-align: right;
  padding: 50px 65px 50px 0;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items .wrap .img {
  flex: 30%;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items .wrap .text-box {
  flex: 70%;
  padding: 50px 0 50px 65px;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items .wrap .text-box .game-name {
  margin-bottom: 30px;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items .wrap .text-box .game-name h3 {
  display: inline-block;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 55%, #e8e8e8 50%);
  font-size: 50px;
  padding: 0 10px;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items .wrap .text-box p {
  font-size: 24px;
  color: #666666;
  padding-bottom: 15px;
  line-height: 33px;
}
.sub-page.nexon-games #main.nexon-games #section2 .inner .content .items .wrap .text-box p strong {
  color: #191b1d;
}