body.sub-page .nexon-games {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}
body.sub-page .nexon-games .main-banner {
  background-image: url(../img/nexongames/nexongames/main-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1640px;
}
body.sub-page .nexon-games .main-banner .location {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0 165px;
}
body.sub-page .nexon-games .main-banner .main-title h2 {
  text-align: center;
  font-size: 66px;
  color: #ffffff;
}
body.sub-page .nexon-games .main-banner .sub-title p {
  font-size: 32px;
  text-align: center;
  padding-top: 25px;
  color: #ffffff;
}